@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Funnel+Display:wght@300..800&family=Jaldi:wght@400;700&display=swap");

:root {
  --bkgnd-drk: #0c0f0a;
  --maze-bkgnd-init: #1d2518;
  --rose: #ff206e;
  --rose-red: #cc0047;
  --Claret: #8f0032;
  --Cyclamen: #ff70a2;
  --emerald: #0cce6b;
  --hookers-green: #648381;
  --tyrian-purple: #4c0827;
  --dark-purple: #200116;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Funnel Display", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bkgnd-drk);
}

.animatePosition {
  animation: currentPosition 1000ms ease-in-out;
}

@keyframes currentPosition {
  from {
    background-color: var(--Claret);
  }
  to {
    background-color: var(--hookers-green);
  }
}
